body h1{
    font-family: 'Inter', sans-serif;
    font-size: 30px;
}

.imagem {
    width: 400px;
    height: auto;
    margin-right: 20px;
}

.img-noticia {
    border-radius: 10px;
}

.imagem-livro {
    width: 160px;
}

.index-livro {
    width: 100%;
    height: 240px; /* altura fixa */
    object-fit: cover; /* garante que a imagem preencha o espaço sem distorcer */
    border-radius: 10px;
}

.destaques-livro {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.bio-livro {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.rom-livro {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.lit-livro {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
